<%- include("partials/header") -%>

<section class="coloured-section">
  <div class="row">
    <div class="col-lg-6 intro">
      <h1> <%=read%> </h1>
      <h1> <%=postr%></h1>
    </div>
    <div class="col-lg-6">
      <img class="image" src="imghome.jpg" alt="iphone-mockup">
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
