<%- include("partials/header") -%>

<section class="coloured-section">
  <h1>Listen to music while reading a book</h1>
  <p>If you are the kind to listen to music while reading, you are in the right place.</p>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <iframe src="https://open.spotify.com/embed/playlist/5fTGnismsn2ud5MsvC7pKQ?theme=0" width="75%" height="400" frameBorder="0" allowtransparency="true" allow="encrypted-media">

      </iframe>
    </div>
    <div class="col-lg-6">
      <img src="listenpic.jpg" alt="records" width="427.25px" height="400px">
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
